.flashdiv
{
  position: fixed!important; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 2%;
  bottom: 3%;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
  border-radius: 5px;;
  padding:10px;
  color: #ffffff;
}